<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Categorie: Aparitii</title>
    <style th:replace="/fragments/general.html :: style"></style>
</head>
<body>
<div align="center">
    <div th:replace="/fragments/general.html :: header"> </div>
    <h1>Aparitii opera</h1>
    <a href="/aparitii/new">Introduceti o noua aparitie</a>
    <br/><br/>
    <div class="container">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID obiect vestimentar</th>
                <th>ID actor</th>
                <th>Actiuni</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aparitie : ${listaAparitii}">
                <td th:text="${aparitie.id_obiect_vestimentar}">ID obiect vestimentar</td>
                <td th:text="${aparitie.id_actor}">ID actor</td>
                <td width="255px">
                    <a class="text-primary" th:href="@{'/aparitii/edit/' + ${aparitie.id_obiect_vestimentar}+ '/' + ${aparitie.id_actor}}">Editeaza aparitia</a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="text-danger" th:href="@{'/aparitii/delete/' + ${aparitie.id_obiect_vestimentar}+ '/' +  ${aparitie.id_actor}}">Sterge aparitia</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="/fragments/general.html :: scripts"></div>
</body>
</html>